{% load static%}
<link href="{% static 'login.css' %}" rel="stylesheet" type="text/css" />
<div class="wrapper">
        <div class="logo">
            <img src="/static/src/assets/img/rawaf.png" alt="">
            <br>
            <div class="text-center mt-4 name">
            Tendering, Contracts and Technical Affairs
                {% for msg in messages %}
                <p>{{msg}}</p>
                {% endfor %}
            </div>
        </div>

        <form method="POST" action="" class="p-3 mt-3">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                
                <input type="password" name="password" placeholder="Password">
            </div>
            
            <button class="btn mt-3">Login</button>
            
        </form>

        <div class="text-center fs-6">

            or 
            <br>

            <a href="{% url 'register' %}">Sign up</a>

            <br>
            
            <a href="{% url 'login_ar' %}">العربية</a>
        </div>

    </div>
